.md-header{
    background: #e6ecf1;
    color: #3b454e;
      
}

.md-tabs{
    background: #e6ecf1;
    color: #3b454e;
      
}

body{
    text-decoration-color:#ebac65;
}

a:link {
    color: #ebac65;
  }
